<%= render "shared/header" %>
 <div class="page-login">
  <div class="left-main">
    <div class ="log-leftbtn" >
  <h1 class="account-page__login">ログイン</h1> 
   <%= link_to "トップページに戻る", :back, class: 'btn'%>  
    <%= render "devise/shared/links" %>
    </div>
  </div>

  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="right-main">
      <div class='log-field'>
         <%= f.label :メールアドレス%><br />
          <%= f.text_field :email, autofocus: true%>
      </div>

      <div class='log-field'>
          <%= f.label :パスワード%>
          <i>(6文字以上)</i><br />
          <%= f.password_field :password, autocomplete: "off"%>
      </div>  
     
       <div class ="log-rightbtn" >
        <%= f.submit "ログインはこちら", class: 'btn'%>
        <%= link_to "ゲストログインはこちら", users_guest_sign_in_path, method: :post, class: 'btn'%> 
       </div>
     <% end %>
  </div>
</div>
<%= render "shared/footer" %>
