<div class= "main-post">
 <div class= "post-title">
   <%= link_to "阪神タイガースを応援しよう！", root_path, method: :get %>
 </div>
 <div class="post-contens-main">
  <div class="post-contents">
   <%= form_with model: @message do |f| %>
   <div class="post-contents-field">
    <%= f.text_field :content , placeholder: '気軽に呟いてください!  (投稿は消すことができないため不適切な投稿はやめてください)'%>
   </div>
     <div class="post-contents-submit">
      <%= f.submit '投稿する' %>
     </div>
  </div>
  <% end %>

  <div id='posts'>
   <% @posts.reverse_each do |post| %>
    <p><%= post.content %></p>
   <% end %>
  </div>
</div>
<%= render "shared/footer" %> 