<%= render "shared/header" %>
<div class= "main-post">
 <div class= "post-title">
 <h1>タイガース情報をリアルタイムで共有しよう！</h1>
 </div>
  <div class="post-contents">
  <%= form_with url: "/posts", method: :post,id: "form" do |form| %>
   <div class="post-contents-field">
    <%= form.text_field :content , id: "content" , placeholder: 'みんなで呟こう!'%>
   </div>
   <div class="post-contents-submit">
   <%= form.submit '投稿する' , id: "submit" %>
  </div>
</div>
  <% end %>


<div id="list">
</div>

<% @posts.zip(@user).each do |post, user| %>
  <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>>
    <div class="post-date">
      投稿日時：<%= post.created_at %>
       <%= link_to '削除', "/posts/#{post.id}", method: :delete ,id: "delete" %>
    </div>
    <%# <div class="post-user">
      <%= user.nickname %>
    <%# </div>  %>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
<%= render "shared/footer" %> 