<h1>試合について感想を言い合おう</h1>
<%= form_with url:  "/memos", method: :post,id: "form" do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<% @memo.each do |post| %>
<div class="memo">
  <div class="memo-date">
    投稿日時：<%= memo.created_at %>
  </div>
  <div class="memo-content">
    <%= memo.content %>
  </div>
</div>
<% end %>