<%= render "shared/header" %>
 <div class="main"> 
  <div class="main-contents-left"> 
   <div class="main-content-left-upper">
      <div class="upper-explain-title">ファン同士の交流をもっと盛んに</div>
       <div class="upper-contents">
       <div class="explain-content">自然にファン同士が繋がれ意見を交換しあえます</div>
       <div class="explain-content">ファンが集まる場所を見つけることができます</div>
       <div class="explain-content">最新のタイガース情報を共有できます</div>
       </div>
       <% if user_signed_in? %>
        <%= link_to "みんなの呟きを見に行こう", posts_path, method: :get, class:"chatbtn" %>
        <% end %>
    </div>
   <div class="main-content-left-middle ">
   </div>
   <div class="main-content-left-lower">
     
      <div class="lower-explain-title">チャットで新たなファン仲間をみつけよう</div> 
     <% if user_signed_in? %>
      <%= link_to "チャットを始めよう", rooms_path, method: :get, class:"chatbtn" %>
     <% end %>
     </div>
   </div>  
  <div class="main-contents-right">
   <div class="main-contents-right-title">阪神ファンが集まる場所を見つけよう</div> 
<div id='map'></div>

<style>
#map {
  height: 400px;
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
}
</style>

<script>
  let map
    function initMap(){
    geocoder = new google.maps.Geocoder()
    map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.68123620000001, lng:139.7671248},
          zoom: 12,
      });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
 </div>
</div>
<%= render "shared/footer" %> 


