<%= render "shared/header" %>
 <div class="main"> 
  <div class="main-contents-left"> 
   <div class="images">     
     <%= link_to image_tag("スクリーンショット1.png", class:"image"), "#" %>  
     <%= link_to image_tag("スクリーンショット2.png", class:"image"), "#" %> 
   </div>
   <div class="main-content-left-lower">
     <% if user_signed_in? %>  
      <%= link_to "チャットを始めよう!", rooms_path, method: :get, class:"chatbtn" %>
      <%= link_to "試合の感想を呟こう!", memos_path, method: :get, class:"chatbtn" %>
     <% end %>
   </div>
  </div>  
  <div class="main-contents-right"></div>
 </div>
<%= render "shared/footer" %> 


